.max-size-image {
    max-width: 100%;
    max-height: 40px; 
    object-fit: contain; 
  }

.footer-icon {
  max-width: 100%;
  max-height: 25px; 
  object-fit: contain; 
}

img {
  max-width: 85%;
  height: auto;
}

ul {
  list-style-type: none;
}

html, body {
  background-color: #000000; /* Set your preferred color */
  height: 100%;
  margin: 0;
  padding: 0;
}